<a href="https://colab.research.google.com/github/rajbhadalia/AI-1.0/blob/master/HW_J006_4_7_20.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
# if else
N = int(input())

if (N % 2 == 1):
    print("weird")
else:
    if(N >=2 and N <= 5):
     print("not weird")

    elif(N >= 6 and N <= 20):
        print("weird")

    elif(N > 20):
        print("not weird")

4
not weird

In [3]:
 # arithmetic operations
 a = int(input())
 b = int(input())
print(a + b)
print(a - b)
print(a * b)

3
4
7
-1
12

In [6]:
if __name__ == '__main__':
    a = int(input())
    b = int(input())
print(a // b)
print(a / b)

3
4
0
0.75

In [8]:
#loops

if __name__ == '__main__':
    n = int(input())
    i = 0
    while(i < n):
        print(i * i)
        i += 1

5
0
1
4
9
16

In [9]:
# print function
if __name__ == '__main__':
    n = int(input())
    for i in range (1,n+1):
        print(i,end="")

5
12345

In [17]:
 x = int(input())
 y = int(input())
 z = int(input())
 n = int(input())
 a = [[i,j,k] for i in range (x+1)for j in range (y+1) for k in range (z+1) if i+j+k!=n]
print(a)

3
4
5
6
[[0, 0, 0], [0, 0, 1], [0, 0, 2], [0, 0, 3], [0, 0, 4], [0, 0, 5], [0, 1, 0], [0, 1, 1], [0, 1, 2], [0, 1, 3], [0, 1, 4], [0, 2, 0], [0, 2, 1], [0, 2, 2], [0, 2, 3], [0, 2, 5], [0, 3, 0], [0, 3, 1], [0, 3, 2], [0, 3, 4], [0, 3, 5], [0, 4, 0], [0, 4, 1], [0, 4, 3], [0, 4, 4], [0, 4, 5], [1, 0, 0], [1, 0, 1], [1, 0, 2], [1, 0, 3], [1, 0, 4], [1, 1, 0], [1, 1, 1], [1, 1, 2], [1, 1, 3], [1, 1, 5], [1, 2, 0], [1, 2, 1], [1, 2, 2], [1, 2, 4], [1, 2, 5], [1, 3, 0], [1, 3, 1], [1, 3, 3], [1, 3, 4], [1, 3, 5], [1, 4, 0], [1, 4, 2], [1, 4, 3], [1, 4, 4], [1, 4, 5], [2, 0, 0], [2, 0, 1], [2, 0, 2], [2, 0, 3], [2, 0, 5], [2, 1, 0], [2, 1, 1], [2, 1, 2], [2, 1, 4], [2, 1, 5], [2, 2, 0], [2, 2, 1], [2, 2, 3], [2, 2, 4], [2, 2, 5], [2, 3, 0], [2, 3, 2], [2, 3, 3], [2, 3, 4], [2, 3, 5], [2, 4, 1], [2, 4, 2], [2, 4, 3], [2, 4, 4], [2, 4, 5], [3, 0, 0], [3, 0, 1], [3, 0, 2], [3, 0, 4], [3, 0, 5], [3, 1, 0], [3, 1, 1], [3, 1, 3], [3, 1, 4], [3, 1, 5], [3, 2, 0], [3, 2, 2], [3, 2, 3], [3, 2, 4], [3, 2, 5], [3, 3, 1], [3, 3, 2], [3, 3, 3], [3, 3, 4], [3, 3, 5], [3, 4, 0], [3, 4, 1], [3, 4, 2], [3, 4, 3], [3, 4, 4], [3, 4, 5]]

In [ ]:
n = int(input())
    if (n%2 == 1):
print(weird)
    else:
        if (n >=2 and n<= 5):
print(not weird)
        elif(n >=6 and n<= 20):
print(weird)
        elif(n > 20):
print(not weird)